<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yannik.anki">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/anki"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false"/>
        <uses-library android:name="com.google.android.wearable" android:required="false" />
        <activity
            android:name="com.yannik.anki.WearMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.yannik.anki.ListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <service
            android:name=".AnkiWearComplicationProviderService"
            android:icon="@android:drawable/btn_star"
            android:label="@string/complications_provider_service_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT"/>

            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="600"/>
        </service>

        <receiver android:name=".ComplicationTapBroadcastReceiver"/>
    </application>

</manifest>
